
.icon{
  fill:#0363FE;
}

.sidebar-button:hover .icon  {
  fill: white; 
}

.sidebar-button:hover .text-button {
  color: white; 
}

.active {
  background-color: rgb(208, 255, 0);
  color: white;
}





